/*colours: 
    pale green: #B2BEAC
    sage: #616F61
    charcoal: #0C0801
    cream: #F1F0E4
*/

/*warbler text font*/
@font-face {
  font-family: 'Warbler Text';
  src: url('../fonts/warbler/text/warbler text regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Warbler Text';
  src: url('../fonts/warbler/text/warbler text italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Warbler Text';
  src: url('../fonts/warbler/text/warbler text bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Warbler Text';
  src: url('../fonts/warbler/text/warbler text bold italic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

/*warbler display font*/
@font-face {
  font-family: 'Warbler Display';
  src: url('../fonts/warbler/display/warbler display regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Warbler Display';
  src: url('../fonts/warbler/display/warbler display italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Warbler Display';
  src: url('../fonts/warbler/display/warbler display bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Warbler Display';
  src: url('../fonts/warbler/display/warbler display bold italic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

/*warbler deck font*/
@font-face {
  font-family: 'Warbler Deck';
  src: url('../fonts/warbler/deck/warbler deck regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Warbler Deck';
  src: url('../fonts/warbler/deck/warbler deck italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Warbler Deck';
  src: url('../fonts/warbler/deck/warbler deck bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Warbler Deck';
  src: url('../fonts/warbler/deck/warbler deck bold italic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

/*warbler banner font*/
@font-face {
  font-family: 'Warbler Banner';
  src: url('../fonts/warbler/banner/warbler banner regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Warbler Banner';
  src: url('../fonts/warbler/banner/warbler banner italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Warbler Banner';
  src: url('../fonts/warbler/banner/warbler banner bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Warbler Banner';
  src: url('../fonts/warbler/banner/warbler banner bold italic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

/*masqualero text font*/
@font-face {
  font-family: 'Masqualero';
  src: url('../fonts/masqualero/text/masqualero light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Masqualero';
  src: url('../fonts/masqualero/text/masqualero light italic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Masqualero';
  src: url('../fonts/masqualero/text/masqualero regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Masqualero';
  src: url('../fonts/masqualero/text/masqualero italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

/*masqualero demibold font*/
@font-face {
  font-family: 'Masqualero';
  src: url('../fonts/masqualero/demibold/masqualero demibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Masqualero';
  src: url('../fonts/masqualero/demibold/masqualero demibold italic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}

/*masqualero bold font*/
@font-face {
  font-family: 'Masqualero';
  src: url('../fonts/masqualero/bold/masqualero bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Masqualero';
  src: url('../fonts/masqualero/bold/masqualero bold italic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

/*masqualero black font*/
@font-face {
  font-family: 'Masqualero';
  src: url('../fonts/masqualero/black/masqualero black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Masqualero';
  src: url('../fonts/masqualero/black/masqualero black italic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}

/*masqualero extra black font*/
@font-face {
  font-family: 'Masqualero';
  src: url('../fonts/masqualero/extra black/masqualero extra black.otf') format('opentype');
  font-weight: 950;
  font-style: normal;
}
@font-face {
  font-family: 'Masqualero';
  src: url('../fonts/masqualero/extra black/masqualero extra bold italic.otf') format('opentype');
  font-weight: 950;
  font-style: italic;
}


/*entire html page*/
html,body{
  margin: 40px;
  flex: 1;
  flex-direction: column;
  min-height: 100vh;
  background-color: #F1F0E4;
}


/*header*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 780px;
    height: 100px;
    padding: 40px, 40px;
}
.logo{
    height: 100px;
    width: 100px;
    background-color:#B2BEAC;
}
.navigation{
  display: flex;
  gap: 130px;
}
.navigation a{
    font-family: 'Masqualero';
    font-weight: 300;
    font-size: 20px;
    color: #0C0801;
}


/*main*/
.main{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.web-title{
  font-family: 'Warbler Display';
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
  color: #0C0801;
  text-align: right;
  margin-top: 350px;
}
.title-div{
  border-top: 2px solid #B2BEAC;
  width: 100%;
  margin-top: 20px
}
.rock-grid {
  margin-top: 166px;
  /*margin-left: 155px;
  margin-right: 155px;*/
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 72px;
  justify-items: center;
}
.rock-item {
  text-align: center;
}
.rock-item img {
  width: 100%;
  aspect-ratio: 1/1; /*perfect square ratio for images*/
  object-fit: cover; /*crops image to fit within the square*/
  max-width: 329px;  
  max-height: 329px;
  align-items:center;
}
.rock-name {
  margin-top: 24px;
  display: inline-block; 
  padding: 5px 12.5px;
  font-family: 'Warbler Deck';
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  color: #616F61;
  background-color: #B2BEAC;
}

/*footer*/
.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}
.footer-div{
    border-top: 2px solid #B2BEAC;
    width: 100%;
    margin-bottom: 35px;
}
.footer p{
  margin: 0;
}
.main-footer{
  font-family: 'Warbler Text';
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  color: #616F61;
  margin-top: 50px;
}
.copyright{
  font-family: 'Warbler Banner';
  font-weight: 700;
  font-size: 10px;
  font-style: italic;
  color: #616F61;
  line-height: 3;
}