.canvas {
    width: 550px;
    height: 500px;
    background-color: whitesmoke;
    position: absolute;
}

.inner_square {
    width: 500px;
    height:450px;
    background-color: rgba(240, 230, 210, 0.6);
    position: absolute;
    margin: 25px;
}

.triangle_r {
      width: 0;
      height: 0;
      border-left: 115px solid transparent;
      border-right: 115px solid transparent;
      border-top: 95px solid rgb(236, 178, 62);
      position: absolute;
      margin: 75px 0px 0px 105px; /*order is: top | right | bottom | left*/
}

.diamond {
    width: 300px;
    height: 300px;
    background-color: rgb(236, 178, 62);
    position: absolute;
    transform: rotate(45deg);
    top: 163px;
    left: 94px;
    overflow: hidden;
}