/*colours: 
    pale green: #B2BEAC
    sage: #616F61
    charcoal: #222222
    cream: #F1F0E4
*/

/*warbler text font*/
@font-face {
  font-family: 'Warbler Text';
  src: url('../fonts/warbler/text/warbler text regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Warbler Text';
  src: url('../fonts/warbler/text/warbler text italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Warbler Text';
  src: url('../fonts/warbler/text/warbler text bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Warbler Text';
  src: url('../fonts/warbler/text/warbler text bold italic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

/*warbler display font*/
@font-face {
  font-family: 'Warbler Display';
  src: url('../fonts/warbler/display/warbler display regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Warbler Display';
  src: url('../fonts/warbler/display/warbler display italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Warbler Display';
  src: url('../fonts/warbler/display/warbler display bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Warbler Display';
  src: url('../fonts/warbler/display/warbler display bold italic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

/*warbler deck font*/
@font-face {
  font-family: 'Warbler Deck';
  src: url('../fonts/warbler/deck/warbler deck regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Warbler Deck';
  src: url('../fonts/warbler/deck/warbler deck italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Warbler Deck';
  src: url('../fonts/warbler/deck/warbler deck bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Warbler Deck';
  src: url('../fonts/warbler/deck/warbler deck bold italic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

/*warbler banner font*/
@font-face {
  font-family: 'Warbler Banner';
  src: url('../fonts/warbler/banner/warbler banner regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Warbler Banner';
  src: url('../fonts/warbler/banner/warbler banner italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Warbler Banner';
  src: url('../fonts/warbler/banner/warbler banner bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Warbler Banner';
  src: url('../fonts/warbler/banner/warbler banner bold italic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

/*masqualero text font*/
@font-face {
  font-family: 'Masqualero';
  src: url('../fonts/masqualero/text/masqualero light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Masqualero';
  src: url('../fonts/masqualero/text/masqualero light italic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Masqualero';
  src: url('../fonts/masqualero/text/masqualero regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Masqualero';
  src: url('../fonts/masqualero/text/masqualero italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

/*masqualero demibold font*/
@font-face {
  font-family: 'Masqualero';
  src: url('../fonts/masqualero/demibold/masqualero demibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Masqualero';
  src: url('../fonts/masqualero/demibold/masqualero demibold italic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}

/*masqualero bold font*/
@font-face {
  font-family: 'Masqualero';
  src: url('../fonts/masqualero/bold/masqualero bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Masqualero';
  src: url('../fonts/masqualero/bold/masqualero bold italic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

/*masqualero black font*/
@font-face {
  font-family: 'Masqualero';
  src: url('../fonts/masqualero/black/masqualero black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Masqualero';
  src: url('../fonts/masqualero/black/masqualero black italic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}

/*masqualero extra black font*/
@font-face {
  font-family: 'Masqualero';
  src: url('../fonts/masqualero/extra black/masqualero extra black.otf') format('opentype');
  font-weight: 950;
  font-style: normal;
}
@font-face {
  font-family: 'Masqualero';
  src: url('../fonts/masqualero/extra black/masqualero extra bold italic.otf') format('opentype');
  font-weight: 950;
  font-style: italic;
}


/*fade in animation*/
@keyframes fadeIn{ /*rock grid and navbar fade*/
    from {
      opacity: 0;
      transform: translateY(10px);
      visibility: visible;
    }
    to {
      opacity: 1; transform: translateY(0);
      visibility: visible;
    }
}
@keyframes titleFadeIn{ /*title and title divider fade*/
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
.loading .archive-page .navbar{
  visibility: hidden;
  animation: fadeIn 0.5s ease-in forwards;
  animation-delay: 0.75s;
}
.loading .web-title, .loading .title-div{
  animation: titleFadeIn 0.75s ease-in forwards;
}
.loading .archive{
  visibility: hidden;
  animation: fadeIn 0.5s ease-in forwards;
  animation-delay: 0.75s;
}

*, *::before, *::after {
  cursor: url('../images/covers/cursor.cur'), auto; /*keep in code or else cursor glitches*/
}

/*entire html page*/
html,body{
  margin: 1.25rem 2.5vw;
  /*flex: 1;
  flex-direction: column;*/
  min-height: 100vh;
  background-color: #F1F0E4;
  cursor: url('../images/covers/cursor.cur'), auto;
}
a:hover, a:hover *{ /*cursor hover states*/
  cursor: url('../images/hover/cursor-hover.cur'), auto;
}


/*header*/
.navbar{
  display: flex;
  align-items: center;
  gap: 6rem;
  width: 100%;
  min-height: 6rem;
  position: relative;
}
.logo img{
  height: 6rem;
  width: 6rem;
  transition: opacity 0.3s ease, transform 0.3s ease-in-out;
  transform: scale(1);
  will-change: transform, opacity; /*prevents snappy transition*/
}
.logo:hover img{
  opacity: 0.5;
  transform: scale(1.05);
}
.navigation{
  display: flex;
  gap: 6rem;
}
.navigation a{
  font-family: 'Masqualero';
  font-variant: small-caps;
  font-weight: 300;
  font-size: 25px;
  color: #616F61;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease; /*transitions the colour smoothly, not instantaneously*/
}
.navigation a:hover{
  color: #B2BEAC;
}


/*main*/
.main{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.content{
  margin-left: 7vw;
  margin-right: 7vw;
}
.web-title{
  font-family: 'Warbler Display';
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
  color: #222222;
  text-align: left;
  letter-spacing: 0.045em;
  margin-top: 22vh;
}
.title-div{
  border-top: 2px solid #B2BEAC;
  width: 100%;
  margin-top: 20px;
}
.rock-grid{
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 4vw;
  row-gap: 2rem;
  justify-items: center;
}
.img-wrapper { /*image container for default and hover images*/
  position: relative;
  width: 100%;
  max-width: 100%;
  aspect-ratio: 1/1; /*maintains perfect square ratio*/
  overflow: hidden; 
  justify-content:center;
}
.img-wrapper img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: opacity 0.3s ease, transform 0.4s ease; /*opacity transition*/
  justify-content:center;
}
.img-wrapper .hover {
  position: absolute;
  inset: 0; /*top: 0; left: 0; right: 0; bottom: 0;*/
  opacity: 0;
}
.rock-item:hover .default {
  opacity: 0;
}
.rock-item:hover .hover {
  opacity: 1;
}
.rock-item a {
  text-decoration: none;
}
.rock-name { 
  font-family: 'Warbler Deck';
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  color: #616F61;
  text-align: left;
  line-height: 1.2;
  margin-top: 1rem;
  margin-bottom: 3rem;
  display: block;
  transition: color 0.3s ease; /*transitions the colour smoothly, not instantaneously*/
}
.rock-item:hover .rock-name{
  color: #B2BEAC;
}


/*footer*/
.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}
.footer-div{
    border-top: 2px solid #B2BEAC;
    width: 100%;
    margin-bottom: 2rem;
}
.footer p{
  margin: 0;
}
.main-footer{
  font-family: 'Warbler Text';
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  color: #616F61;
  margin-top: 3rem;
}
.footer a{
  font-family: 'Warbler Banner';
  font-weight: 700;
  font-size: 10px;
  font-style: italic;
  color: #616F61;
  line-height: 3;
  text-decoration: none;
}
.footer a:hover{
  color: #B2BEAC;
}