/*colours: 
    pale green: #B2BEAC
    sage: #616F61
    charcoal: #222222
    cream: #F1F0E4
*/


/*fade in animation*/
@keyframes quickFade{
    from{
        opacity: 0;
        transform: translateY(5px);
        visibility: visible;
    } to{
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
    }
}
#rock-image{
    visibility: hidden;
    animation: quickFade 0.5s forwards;
}


/*column structure for rock info*/
.rock-information{
    max-width: 85rem;
    margin: 0 auto;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: clamp(2rem, 10vw, 15rem); /*3 values are min, ideal, max*/
}

h2{
    font-family: 'Warbler Deck';
    font-variant: small-caps;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: #0c0801;
}

h3{
    font-family: 'Warbler Deck';
    font-weight: 400;
    font-style: italic;
    font-size: 35px;
    color: #222222;
    margin-bottom: 0.75rem;
}

.rock-information h3:first-of-type{ /*gets rid of massive space between title and first label*/
    margin-top: 0;
}

.nav-div{
    border-top: 2px solid #B2BEAC;
    width: 100%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

/*hero image*/
.image-container{
    position: relative;
    width: 100%;
}
#rock-image {
    width: 100%;
    max-width: 100%;
    aspect-ratio: 1360/874;
    max-height: 70vh;
    height: auto;
    object-fit: cover; 
    display: block;
}
.back{
    font-size: 2.5rem;
    color: #f1f1f1;
    text-decoration: none;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    padding: 0.005em 0.25em;
    background-color: #B2BEAC;
    transition: opacity 0.3s ease; /*transitions the opacity smoothly, not instantaneously*/
}
.back:hover{
    opacity: 0.6;
}
.image-div{
    border-top: 2px solid #B2BEAC;
    width: 100%;
    margin-top: 1.5rem;
}

/*header*/
#rock-title{
    font-family: 'Masqualero';
    font-variant: small-caps;
    font-weight: 300;
    font-style: normal;
    font-size: 75px;
    color: #222222;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/*bullet points*/
ul{
    margin: 0;
    padding-left: 1.25rem;
    margin-bottom: 0.5rem;
}
li{
    font-family: 'Warbler Text';
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #616F61;
    line-height: 1.2;
    margin-bottom: 0.75rem;
    padding-left: 0.75rem;
}
li::marker{ /*bullet point*/
    font-size: 15px;
}

/*anecdotal data*/
.personal-details{
    max-width: 32rem;
    align-self: start;
}
#anecdote p{
    font-family: 'Warbler Text';
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #616F61;
    text-align: left;
    line-height: 1.2;
    margin-bottom: 1.25rem;
}
.p-div{
    border-top: 1.5px solid #B2BEAC;
    width: 100%;
    margin-top: 0px;
}
#locTime{
    font-family: 'Warbler Deck';
    font-weight: 400;
    font-style: normal;
    font-variant: small-caps;
    font-size: 20px;
    color: #222222;
    text-align: left;
    margin-top: 3rem;
}